# Ignorar el entorno virtual
.venv/

# Ignorar el archivo .env real (en la raíz del proyecto)
.env

# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Ignorar archivos de configuración del IDE o editor
.vscode/
.idea/

# Ignorar archivos de base de datos
*.sqlite3